<header class="indigo darken-1 section">
    <h2 class="center white-text">Ninja Wonga</h2>
    <p class="flow-text grey-text center text-lighten-2">Monthly money tracker for ninjas...</p>
</header>

<div class="container section">
    <div class="row">
        <div class="col s12 m6">
            <app-expense-create (expenseSubmited)="addExpenseToFirestore($event)" [isSuccess]="isAddedSuccess"></app-expense-create>
        </div>
        <div class="col s12 m5 push-m1">
            <app-chart [expenses]="expenses"></app-chart>
            <!-- <ul>
                <li class="text" *ngFor="let item of items | async">
                    {{item.name}}
                </li>
            </ul> -->
        </div>
    </div>
</div>
